<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a routerLink="/products">NUTS ABOUT CANDY</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="isXSmall"><a mat-button (click)="navToggler()">
        <mat-icon>{{toggleIcon}}</mat-icon></a></li>
    </ul>
    <ng-template *ngIf="!isXSmall" [ngTemplateOutlet]="navigation"></ng-template>
</mat-toolbar-row>
<mat-toolbar-row *ngIf="isXSmall && toggleNav">
  <ng-template [ngTemplateOutlet]="navigation"></ng-template>
</mat-toolbar-row>
</mat-toolbar>

<ng-template #navigation>
  <ul>
    <li>
      <a mat-button routerLink="/products" routerLinkActive="mat-accent">
        <mat-icon>store</mat-icon>Shop
      </a>
    </li>
    <li *ngIf="cartItemCount > 0">
      <a mat-button routerLink="/cart" routerLinkActive="mat-accent">
          <mat-icon [matBadge]="cartItemCount" matBadgeColor="accent" matBadgeSize="small">
            shopping_cart</mat-icon>
      </a>
    </li>
    <li *ngIf="cartItemCount <= 0">
      <a mat-button>
        <mat-icon matBadge="0" matBadgeColor="primary" matBadgeSize="small"
        matTooltip="You have no items in cart.">
        shopping_cart</mat-icon>
      </a>
    </li>
    <!-- <li>
      <span class="mat-body-2 header-amount"> {{amount | currency: '&#8369;'}}</span>
    </li> -->
    <li *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        <mat-icon>login</mat-icon>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a mat-button [matMenuTriggerFor]="menu" routerLinkActive="mat-accent">
        <mat-icon matSuffix>account_circle</mat-icon>{{name}}</a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item style="color:black" routerLink="/profile">User Profile</a>
        <a mat-menu-item style="color:black" routerLink="/order-history">Order History</a>
        <button mat-menu-item (click)="onLogout()" >Logout</button>
      </mat-menu>
    </li>
  </ul>
</ng-template>
