<main>
  <mat-card>
    <mat-card-title>Shopping Cart</mat-card-title>
    <div class="cart-items">
      <p class="mat-body-2">Cart ({{count}} items)</p>
      <div *ngFor="let cart of cartItems">
        <div class="cart-item">
          <div class="item-pic">
            <img mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
          </div>
          <div class="item-info">
            <p class="mat-body-2">{{cart.productDetails.name}}</p>
            <p class="mat-small">{{cart.productDetails.description}}</p>
            <p><span class="badge badge-accent"
              [ngClass]="{'badge-default' : cart.productDetails.classification === 'REGULAR'}">
              {{ cart.productDetails.classification }}</span></p>
            <p class="mat-small">Size: {{cart.productSize.label}}
              @ {{cart.productSize.prize | currency : '&#8369;'}}</p>

            <a class="mat-small remove-icon pointer"
              (click)="removeItem(cart.id, cart.productDetails.name, cart.productSize.label)">
              <mat-icon color="warn" aria-hidden="false">delete</mat-icon>REMOVE ITEM</a>
          </div>
          <div class="item-action">
            <mat-icon color="primary" (click)="minusQty(cart)">remove_circle_outline</mat-icon>
            <span class="count">{{cart.quantity}}</span>
            <mat-icon color="primary" (click)="addQty(cart)">add_circle_outline</mat-icon>
            <hr/>
            <p class="mat-body-2">{{cart.subTotal | currency : '&#8369;'}}</p>
            <p class="mat-body-2">{{ (cart.totalWeight >= 1000)
              ? (cart.totalWeight / 1000.0) + 'kg' : (cart.totalWeight) + 'gm' }}</p>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="checkout">
      <p class="mat-body-2">The total amount of</p>
      <table width="100%">
        <tr>
          <td>Total Weight:</td>
          <td width="30%" align="right">{{ (summary.totalWeight >= 1000)
            ? (summary.totalWeight / 1000.0) + 'kg' : (summary.totalWeight) + 'gm' }}</td>
        </tr>
        <tr>
          <td>Sub-Total:</td>
          <td width="30%" align="right">{{summary.subTotal | currency : '&#8369;'}}</td>
        </tr>
        <tr>
          <td>Delivery Fee:</td>
          <td width="30%" align="right">{{summary.deliveryFee | currency : '&#8369;'}}</td>
        </tr>
        <tr>
          <td>Discount:</td>
          <td width="30%" align="right">{{summary.discount | currency : '&#8369;'}}</td>
        </tr>
        <tr>
          <td>Total Amount:</td>
          <td width="30%" align="right">{{summary.total | currency : '&#8369;'}}</td>
        </tr>
      </table>
      <a mat-flat-button color="warn" style="width: 100%;" *ngIf="!user"
        routerLink="/login">Login to Place Order</a>
      <button mat-flat-button color="primary" style="width: 100%;" *ngIf="user">Place Order</button>
      <hr/>
      <p class="mat-small"><mat-icon>done</mat-icon>All products with nuts have a maximum shelf life of 1 month (30 days) when kept in a cool dry place.</p>
      <p class="mat-small"><mat-icon>done</mat-icon>All products with just candies have a maximum shelf life of 3 months (90 days) when kept in a cool dry place.</p>
      <p class="mat-small"><mat-icon>done</mat-icon>The minimum delivery fee is {{50 | currency : '&#8369;'}} pesos.
        Anything over 500 grams will be charged an additional {{10 | currency : '&#8369;'}} pesos per 100gm.
        Delivery Fee is free if purchase is greater than {{5000 | currency : '&#8369;'}}</p>
      <p class="mat-small"><mat-icon>done</mat-icon>You get 5% discount if purchase is greater than {{2000 | currency : '&#8369;'}}</p>
    </div>
  </mat-card>
</main>
