main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
mat-card {
  width: 900px;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
mat-card-title {
  width: 100%;
  margin: 10px 0;
}

.cart-items {
  padding: 10px 10px;
  width: 600px;
}
.cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.checkout {
  padding: 10px 10px;
  width: 250px;
}
.item-pic img {
  margin: 10px 10px;
  width: 120px;
  height: 150px;
}
.item-info {
  margin: 10px 10px;
  width: 50%;
}
.item-action {
  width: 20%;
  margin: 10px 10px;
}
.remove-icon {
  font-size: meduim;
  vertical-align: center;
  display: inline-flex;
}
.item-action mat-icon {
  font-size: x-large;
  cursor: pointer;
}
.item-action .count{
  padding: 0 5px;
  margin-right: 3px;
  font-size: large;
  padding-bottom: 5px;
}
mat-icon {
  font-size: large;
  margin: 0;
}
mat-button-toggle, mat-icon {
  padding: 0px !important;
  margin: 0px !important;
}

mat-button-toggle-group {
  vertical-align: center;
  align-items: center;
}
