<main>
  <mat-card>
    <mat-card-title>Product Details</mat-card-title>
    <div class="product-pic">
        <img mat-card-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
    </div>
    <div class="product-info">
      <h1>{{product.name}}</h1>
      <hr>
      <p><span class="badge badge-accent"
          [ngClass]="{'badge-default' : product.classification === 'REGULAR'}">
          {{ product.classification }}</span></p>
      <h3>{{product.description}}</h3>
      <p>Available Stock:
        {{ (product.stock >= 1000)
            ? (product.stock / 1000.0) + 'kg' : (product.stock) + 'gm' }}
      </p>
      <div>
        <form #productForm="ngForm" (submit)="addToCart(product.id, product.productSizes, productForm)">
            <table>
                <tr *ngFor="let size of product.productSizes">
                    <td>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="size" ngModel #size="ngModel"
                                    value="{{size.size}}" class="form-check-input"/>
                                {{size.label}}
                            </label>
                        </div>
                    </td>
                    <td width="50px" style="text-align: right;">{{size.prize | currency : '&#8369;'}}</td>
                </tr>
            </table>
            <div *ngIf="product.stock > 50">
                    <mat-form-field appearance="fill">
                      <mat-label>Quantity</mat-label>
                      <input matInput type="number" name="quantity"
                        ngModel #quantity="ngModel" />
                    </mat-form-field>
                    <button mat-raised-button color="primary">Add to Cart</button>
            </div>
        </form>
        <div *ngIf="product.stock < 50">
          <button mat-flat-button disabled>Out of Stock</button>
        </div>
    </div>
    </div>

  </mat-card>
</main>
