main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
mat-card {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-pic {
  max-width: 300px;
  height: auto;
  padding: 20px 10px;
  justify-content: center;
}

.product-info{
  margin: 10px 30px;
  width: 400px;
}

mat-form-field {
  margin-right: 5px;
}
mat-card-title {
  width: 100%;
  margin: 10px 0;
}
