<main>
  <mat-card>
    <mat-card-title class="center">New Customer</mat-card-title>
    <mat-card-subtitle class="mat-body-2 center">Create account</mat-card-subtitle>
    <form #signUpForm="ngForm" (submit)="onSignUp(signUpForm)" >
        <mat-form-field>
          <input matInput type="text" name="username" ngModel #username="ngModel"
            placeholder="Username" required minlength="3" />
            <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="username.invalid">Please enter your username.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" name="password" ngModel #password="ngModel"
            placeholder="Password" required  />
            <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="text" name="firstName" ngModel #firstName="ngModel"
            placeholder="First Name" required />
          <mat-error *ngIf="firstName.invalid">Please enter your first name.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="text" name="lastName" ngModel #lastName="ngModel"
            placeholder="Last Name" required />
          <mat-error *ngIf="lastName.invalid">Please enter your last name.</mat-error>
        </mat-form-field>

      <div *ngIf="!isLoading" class="buttons">
        <button mat-raised-button type="submit" color="primary">SIGN UP</button>
        <span class="or center">Or</span>
        <a mat-stroked-button [routerLink]="['/login']">SIGN IN</a>
      </div>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>
</main>
