main{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 400px;
}

.center {
  display: flex;
  justify-content: center;
}
.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
.or {
  margin: 10px 10px;
}

mat-spinner{
  margin: 0 auto;
}
