<main>
  <mat-card >
    <mat-card-title class="center">Returning Customer</mat-card-title>
    <mat-card-subtitle class="mat-body-2 center">User login</mat-card-subtitle>
    <form #loginForm="ngForm" (submit)="onLogin(loginForm)">
        <mat-form-field>
          <input matInput type="text" name="username" ngModel #username="ngModel"
            placeholder="Username" required />
            <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="username.invalid">Please enter your username.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" name="password" ngModel #password="ngModel"
            placeholder="Password" required  />
            <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
        </mat-form-field>
      <div *ngIf="!isLoading" class="buttons">
        <button mat-raised-button type="submit" color="primary">SIGN IN</button>
        <span class="or center">Or</span>
        <a mat-stroked-button [routerLink]="['/signup']">SIGN UP</a>
      </div>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>
</main>
