<main>
  <div>
    <a class="pointer link" (click)="toggleCategories()">Categories</a> |
    <a class="pointer link" (click)="viewAllProducts()">All Products</a>
  </div>
  <div class="title">
    <span class="mat-display-1">{{title}}</span>
  </div>
    <div class="div-center"><mat-spinner *ngIf="isLoading"></mat-spinner></div>
        <div class="products" *ngIf="!isLoading">
          <div class="product-card" *ngFor="let prod of products">
            <mat-card>
              <img mat-card-image class="pointer" [routerLink]="['/products/view/', prod.id]"
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-title>
                <a [routerLink]="['/products/view/', prod.id]">{{prod.name}}</a>
              </mat-card-title>
               <form  #productForm="ngForm" (submit)="addToCart(prod.id, prod.productSizes, productForm)">
                <mat-card-content >
                  <span class="badge badge-accent" [ngClass]="{'badge-default' : prod.classification === 'REGULAR'}">
                    {{ prod.classification }}</span>

                  <span class="text-underline">Stock: {{ (prod.stock >= 1000)
                    ? (prod.stock / 1000.0) + 'kg' : (prod.stock) + 'gm' }}
                  </span>
                  <table class="mx-auto">
                    <tr *ngFor="let size of prod.productSizes">
                        <td>
                            <div class="form-check">
                                <label>
                                    <input type="radio" name="size" ngModel #size="ngModel"
                                        value="{{size.size}}" class="form-check-input"/>
                                    {{size.label}}
                                </label>
                            </div>
                        </td>
                        <td width="50px" style="text-align: right;">{{size.prize | currency : '&#8369;'}}</td>
                    </tr>
                  </table>
                </mat-card-content>
                <mat-card-footer>
                  <div class="card-action" *ngIf="prod.stock > 50">
                    <mat-form-field appearance="fill">
                      <mat-label>Quantity</mat-label>
                      <input matInput type="number" name="quantity"
                        ngModel #quantity="ngModel" />
                    </mat-form-field>
                    <button mat-raised-button color="primary">Add to Cart</button>
                  </div>
                  <div *ngIf="prod.stock < 50">
                    <button mat-flat-button disabled>Out of Stock</button>
                  </div>
                </mat-card-footer>
            </form>
            </mat-card>
          </div>
        </div>
        <div class="div-center" *ngIf="totalCount <= 0">
          <span class="mat-display-1">Empty result!</span></div>
        <mat-paginator *ngIf="totalCount > 0"
          [length]="totalCount" [pageSize]="pageSize"
          [pageSizeOptions] = "pageSizeOptions" (page)="onChangedPage($event)">
        </mat-paginator>
</main>
