mat-grid-tile {
  background: lightblue;
  border: 1px solid black;
}

.title-left {
  position: absolute;
  left: 20px;
}

.categories{
  position: absolute;
  top: 10px;
}

.product {
  height: 250px;
}

.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.product-card {
  max-width: 230px;
  margin: 10px 15px;
}

mat-card-content {
  justify-content: center;
}
mat-card-footer {
  justify-content: center;
  margin-bottom: 3px;
  margin-left: 1px;
}
main {
  margin: 24px 40px;
}
.title {
  margin-left: 40px;
}
.div-center {
  display: flex;
  justify-content: center;
}
.card-action{
  display: inline;
}
.card-action mat-form-field {
  width: 80px !important;
  margin-right: 3px;
}
a {
  text-decoration: none;
}
