<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <div class="body">
      <h2>Categories</h2>
      <mat-list>
        <mat-list-item *ngFor="let cat of categories">
          <a (click)="getProductsByCategory(cat.id, cat.name)">{{cat.name}}</a>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
      <app-product-list></app-product-list>
  </mat-sidenav-content>
</mat-sidenav-container>
