<h1 mat-dialog-title>Confirm?</h1>
<div mat-dialog-content>
  <p class="mat-body-1" [innerHTML]="data.message"></p>
</div>
<div mat-dialog-action>
  <button mat-button color="primary" [mat-dialog-close]="true">Yes</button>
  <button mat-button [mat-dialog-close]="false">No</button>
</div>
