<h1 mat-dialog-title>An Error occured!</h1>
<div mat-dialog-content>
  <p class="mat-body-1" [innerHTML]="data.message"></p>
</div>
<div mat-dialog-action>
  <button mat-button mat-dialog-close>Ok</button>
</div>
