/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

mat-toolbar {
  background: black !important;
}

.pointer {
  cursor: pointer;
}

.link {
  text-decoration: underline;
  color: blue;
}

.badge {
  padding: 3px 5px;
  margin: 2px 4px;
  border-radius: 16px;
  font-size: x-small;
}
.badge-accent {
  background-color: #ffd740;
  color: black;
}
.badge-default {
  color: white;
  background-color:gray;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
